@font-face {
	font-family: 'Arial Black';
	src: url('../fonts/ArialBlack.eot');
	src: url('../fonts/ArialBlack.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ArialBlack.woff') format('woff'),
	url('../fonts/ArialBlack.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lucida Sans Unicode';
	src: url('../fonts/lucida-sans-unicode.eot');
	src: url('../fonts/lucida-sans-unicode.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lucida-sans-unicode.woff') format('woff'),
	url('../fonts/lucida-sans-unicode.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
}

ul li {
	float: left;
	list-style: none;
}
form input {
	outline: none;
}
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
}
.wrapper {
	width: 1000px;
	height: 1115px;
	padding-top: 22px;
	margin: 0 auto;
}

.phone-numbers {
	float: left;
	padding-left: 52px;
}
.phone-numbers>li{
	display:inline-block;
}
.text-phones {
	float: left;
	padding-left: 4px;
} 

.text-phones > p {
	color: #5e696d;
	font-family: Arial;
	font-size: 18px;
	letter-spacing: 0.4px;
}

.login	{
	margin-left: 16px;
	margin-top: -4px;
	width: 495px;
	height: 25px;
	border-radius: 4px;
	background: linear-gradient(to bottom, #1f6787, #0c3357);
	box-shadow: 2px 4px 4px 0px #b4b4b4;
} 
.login-image {
	padding-left: 7px;
	padding-top: 4px;
}

.login-fields {
	float: left;
	margin-left: 3px;
	margin-top: 3px;
}
.login-fields input[type="text"]
{
	float: left;
	width: 111px;
	height: 13px;
	padding-left: 5px;
	margin-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Lucida Sans Unicode',Arial,sans-serif
	font-size: 11px;
	border:none;
	border-radius: 1px;
}
.login-fields input[type="password"] {
	float: left;
	width: 111px;
	height: 13px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	font-size: 11px;
	border:none;
	border-radius: 1px;
}

.login-fields input[type="password"] {
	margin-left: 5px;
}
.enter-on-site {
	float: left;
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	padding-left: 6px;
	padding-right: 4px;
	padding-top: 4px;
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	font-size: 11px;
}
.line{
	float: left;
	display:inline-block;
	margin-top: 8px;
	padding-left:5px;
	height:10px;
	border-left:1px solid #fff;
}
.reg-on-site {
	float: left;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding-right: 17px;
	padding-top: 4px;
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	font-size: 11px;
}
.forget-password {
	float: left;
	display: inline-block;
	color: #798998;
	padding-top: 3px;
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	font-size: 12px;
	box-sizing: border-box;
}
.block-home {
	width: 75px;
	height: 19px;
	margin-left: 18px;
	margin-top: -3px;
	border-radius: 10px;
	background: no-repeat;
	border: 1px solid #c1c8cb; 
	box-shadow: 0px 1px 1px 0px #d1d6d8;
}
.img-home {
	display: block;
	padding-left: 8px;
	padding-top: 2px;
}
.img-map {
	padding-left: 8px;
	padding-bottom: 2px;
}
.img-letter {
	padding-left: 8px;
	padding-bottom: 2px;
}
.main-img {
	padding-left: 45px;
	padding-top: 33px;
}
.main-menu {
	margin-left: 45px;
	padding-left: 127px;
	width: 784px;
	height: 34px;
	background: linear-gradient(to bottom, #4d5663 10%, #2a2e32 20%, #010101 100%);
	border-radius: 4px;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);	
}
.main-menu li{
	display:inline-block;
}
.main-menu ul {
	line-height: 24px;
}
.main-menu ul li a {
	color: #fff;
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	font-size: 14px;
	text-decoration: none;
}
.li-kompany {
	width: 124px;
	margin-top: 5px;
	text-align: center;
}
.li-oplata {
	width: 83px;
	padding-left: 3px;
	margin-top: 5px;
	text-align: center;
}

.li-dostavka {
	width: 95px;
	padding-left: 6px;
	margin-top: 5px;
	text-align: center; 
}

.li-stati {
	width: 83px;
	padding-left: 5px;
	margin-top: 5px;
	text-align: center; 
}

.li-kontakti {
	width: 100px;
	margin-top: 5px;
	text-align: center; 
}

.main-menu ul li:hover{
	background: linear-gradient(to bottom, #25617b, #0c3357);
	border-radius: 20px; 
}

.korzina {
	padding-left: 57px;
	float: left;	
}

.korzina-image {
	float: left;
	padding-top: 8px;
}

.text-korzina {
	float: left;
	padding-left: 6px;
	padding-top: 4px;
	font-size: 11px;
	font-family: Arial,sans-serif;
	color: #929b9f;
}

.korzina-count {
	float: left;
	padding-top: 4px;
	padding-left: 3px;
	color: #0d5a8f; 
	text-decoration: none;
	font-size: 12px;
	font-family: Arial,sans-serif; 
}

.text-summa {
	float: left;
	padding-left: 15px;
	padding-top: 4px;
	font-size: 11px;
	font-family: Arial,sans-serif;
	color: #8a9296;
}
.summa-count {
	float: left;
	padding-top: 4px;
	padding-left: 11px;
	color: #0d5a8f; 
	text-decoration: none;
	font-size: 12px;
	font-family: Arial,sans-serif; 
}
/* ------------------- SEARCH BLOCK  ------------------- */
.search-block {
	margin-left: 49px;
	margin-top: 11px;
	margin-bottom: 14px;	
}

/*1-ST BLOCK: FIND AVTO  */

.block1 {
	display: inline-block;
	width: 412px;
	height: 133px;
	border: 1px solid #a4a4a4;
	border-radius: 20px;
	box-shadow: 2px 4px 4px 0px #999999;
}
/* 2-ND BLOCK: FIND TIRE  */
.block2{
	width: 193px;
	height: 133px;
	margin-left: 14px;	
	border: 1px solid #a4a4a4;
	border-radius: 20px;
	box-shadow: 2px 4px 4px 0px #999;
}
/*   3-RD BLOCK: FIND DISC  */
.block3{
	width: 266px;
	height: 133px;
	margin-left: 9px;
	border: 1px solid #a4a4a4;
	border-radius: 13px;
	box-shadow: 2px 4px 4px 0px #999;
}
.search-form{
	height: 133px;
	float: left;
	position: relative;
}
.search-form h1{
	font-size: 12px;
	font-family: 'Arial Black', Arial,sans-serif;
	letter-spacing: 0.025em;
	text-align: center;
	color: #114165;
	margin: -1px 0 0 -5px;
}
.disc-title{
	font-size: 10px;
	font-family: 'Arial Black',Arial,sans-serif;
	letter-spacing: 0.025em;
	text-align: center;
	color: #114165;
	position: absolute;
	top: 3px;
	left: 20px;
}
.tire-title{
	font-size: 10px;
	font-family: 'Arial Black',Arial,sans-serif;
	letter-spacing: 0.025em;
	text-align: center;
	color: #114165;
	position: absolute;
	top: 1px;
	right: 19px;
}
.icon-select{
	-webkit-appearance: none;
	background-image: url('../img/list.png');
	background-position: right center;
	background-repeat: no-repeat;
	border: 0;
	box-shadow: inset 2px 2px 1px 0 rgba(0, 0, 0, .35);
	height: 17px;
	font-size: 11px;
	line-height: 1em;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
}

.auto-brand, .auto-model, .auto-options{
	width: 102px;
}

.auto-year{
	margin-right: 44px;
	width: 58px;
}

.search-form .select-title{
	width: 77px;
	font-size: 10px;
	font-family: Arial,sans-serif;
	color: #000;
	float: left;
	margin: auto 0;
}

.block2 label span:last-child{
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	font-size: 12px;
}

.search-form .select-subtitle{
	font-size: 9px;
	font-family: Arial,sans-serif;
	color: #77858b;
}

.select-group{
	width: 180px;
	margin: 5px 0 0 17px;
	float: left;
}

.search-form label{
	display: flex;
	line-height: 8px;
	margin-bottom: 5px;
}

.search-block label select{
	float: right;
}

.tire-group{
	margin: 3px 0 0 25px;
}

.search-form button[type='submit']{
	font-family: Arial,sans-serif;
	font-size: 14px;
	border: 0;
	background: transparent;
	font-style: italic;
	text-decoration: underline;
	color: #154467;
	margin-right: 20px;
	position: absolute;
	right: 0;
	bottom: 9px;
}

.search-form button[type='submit']:hover{
	font-weight: bold;
}

.search-form .block-title{
	text-align: left;
	margin-left: 11px;
}

.block2 label{
	margin: 8px 0 0 13px;
	float: left;
}

.block2 .select-title{
	width: auto;
}

.search-form label[for="tire-size-1"] span{
	margin-top: 7px;
	margin-bottom: 2px;
}

.search-form label[for="summer"] span:first-child{
	margin: 1px 6px 0 -10px;
}
.search-form label[for="summer"] input{
	margin-left: 4px;
}

.block2 label[for='tire-radius'] span{
	margin-top: 3px;
}
.block2 label select{
	width: 52px;
	margin-left: 7px;
	margin-top: -2px;
	text-indent: 4px;
}

.block2 label[for='tire-size-2']{
	margin-left: 5px;
}

.block2 label[for='tire-radius']{
	margin-left: 46px;
	margin-bottom: 2px;
}

.block2 .tire-radius{
	width: 45px;
}

.block2 .checkbox{
	width: 150px;
	margin: 3px 0 -2px 26px;
}

.block2 .checkbox input{
	margin-right: 1px;
	margin-right: 1px;
}

.block2 .checkbox:not([for="summer"]){
	margin-left: 58px;
}

.block3 .select-group{
	margin-left: 15px;
	width: 153px;
}

.block3 .select-group select{
	margin-left: 14px;
	width: 57px;
	text-indent: 4px;
}

.block3 .select-group label{
	margin-bottom: 14px;
}

.block3 .select-group label span{
	font-family: 'Lucida Sans Unicode', Arial,sans-serif;
}

.block3 .select-group label select[id="disc-amount-of-mounts"]{
	width: 51px;
	margin-left: 14px;
}

.block3 .select-group label[for="disc-amount-of-mounts"] span{
	margin-top: -10px;
}

.block3 .select-group label[for="disc-diameter-of-mounts"] span{
	line-height: 9px;
	margin-top: -12px;
}

.search-form .col-2{
	width: 55px;
	margin: -9px 0 0 7px;
	padding-left: 10px;
	border-left: 1px solid silver;
}

.search-form .col-2 .select-title{
	margin-bottom: 5px;
}

.search-form .col-2 .select-subtitle{
	width: 80px;
	display: inline-block;
}

.search-form .col-2 select{
	width: 58px;
	margin-left: 0;
	float: none;
}

.block3 .col-2 label{
	margin-bottom: 6px;
	display: block;
}


/* LEFT-SIDEBAR  */


.left-sidebar {
	float: left;
	margin-top: 5px;
	padding-left: 45px;
}

.catalog-header-wrapper {
	width: 180px;
	height: 25px;
	margin-bottom: 14px; 
	border-radius: 20px;
	border: 1px solid #8b979c;
	box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);

}
.sprite-catalog{
	float: left;
	margin-top: 2px;
	margin-left:2px;
	display:inline-block;
	background:url("../img/sprite.png") no-repeat;
	height: 20px;
	width:20px;
	background-position: 0px 0px;
}
.sprite-catalog1{
	float: left;
	margin-top: 1px;
	margin-left:4px;
	display:inline-block;
	background:url("../img/sprite.png") no-repeat;
	height: 20px;
	width:20px;
	background-position: 0px 0px;
}
.header-catalog {
	float: left;
	line-height: 26px;
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	font-size: 13px;
	color: #114165;
	padding-left: 4px;
}

.wrapper-item-sidebar {
	float: left;
	width: 150px;
	height: 25px;
	border-radius: 20px;
	border: 1px solid #8b979c;
}
.sprite-sidebar{
	float: left;
	margin-top: 1px;
	margin-left:4px;
	display:inline-block;
	background:url("../img/sprite.png") no-repeat;
	height: 23px;
	width:23px;
	background-position: -23px 0px;	
}

.header-wrapper {
	float: left;
	padding-left: 4px;
	margin-top: 0px;
	line-height: 26px;
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	font-size: 13px;
	color: #114165;
}

.sidebar-list {
	padding-top: 21px;
	padding-left: 40px;
	padding-bottom: 6px;
}
.sidebar-list li a{
	display: block;
}
.sidebar-list ul li {
	float: none;
	padding-top: 5px;
	margin-left: -4px;
	position: relative;
}

.side-menu-item {
	display: block;
	width: 130px;
	height: 14px;
	padding: 6px 0 0 11px;
	text-decoration: none;
	color: #465961;
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	font-size: 12px; 
}
.sprite-sidebar-item{
	display: inline-block;
	position:absolute;
	top:15px;
	left:1px;
	background:url("../img/sprite.png") no-repeat;
	height: 10px;
	width:10px;
	background-position: -48px 0px;
}
.sidebar-list ul li a:hover {
	font-family: Arial,sans-serif;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	color: #0c3256;
}
/* CENTRAL BAR  */

.centarl-bar {
	margin-left: 10px;
	float: left;
	width: 524px;
	height: 628px;
	background: linear-gradient(to bottom, #e5e7e8, #93a7b0);
}
.first-column {
	float: left;
	margin-left: 20px;
	margin-top: 11px;
	text-align: center;
	width: 137px;
	height: 624px;
}
.name1 {
	padding-left: 5px;
	padding-top: 1px;
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	font-size: 16px;
	color: #206988;
	letter-spacing: -0.4px;
}
.name_last{
	padding-left: 5px;
	padding-top: 3px;
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	font-size: 16px;
	color: #206988;
	letter-spacing: -0.4px;
}
.name1 a {

	font-size: 16px;
	color: #206988;
	letter-spacing: 0px;
}

.name2 {
	padding-left: 7px;
	margin-top: -9px;
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	font-size: 13px;
	color: #000;
}

.img-tire {
	margin-top: 4px;
	margin-left: 0px;
}
.wrapper-tire {
	margin-top: -2px;
	width: 137px;
	height: 127px;
	margin-bottom: 38px;
	margin-left: 0;
	background: #ffffff;
	border-radius: 10px;
	border: 1px solid #b0b9bc;
	text-align: center;
}

.price {
	padding-top: 2px;
	padding-left: 11px;
	margin-bottom:2px;
	font-family: Arial,sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	color: #114165;
}
.price_grn {
	padding-top: 5px;
	padding-left: 4px;
	font-family: Arial,sans-serif;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
	color: #114165;
}

.second-column,
.third-column {
	float: left;
	margin-left: 31px;
	margin-top: 11px;
	text-align: center;
	width: 137px;
	height: 624px;
}
.position_1 {
	margin-left: 1px;
}
.position_-3 {
	margin-left: -3px;
}

/* RIGHT SIDEBAR  */
.right-sidebar {
	float: left;
	margin-top: 4px;
	padding-left: 10px;
}

.header-catalog-right {
	float: left;
	margin-top: -1px;
	padding-left: 7px;
	line-height: 25px;
	font-family: 'Lucida Sans Unicode',Arial,sans-serif;
	font-size: 13px;
	color: #114165;
}
.wrapper-right-sidebar {
	float: left;
	margin-left: 15px;
	width: 135px;
	height: 25px;
	border-radius: 20px;
	border: 1px solid #8b979c;
}
.wrapper-right-sidebar2 {
	float: left;
	margin-top: 10px; 
	margin-left: 3px;
	width: 135px;
	height: 25px;
	border-radius: 20px;
	border: 1px solid #8b979c;
}
.sidebar-list1 {
	padding-top: 23px;
	padding-left: 10px;
	padding-bottom: 4px;
}
.checkbox-menu-item {
	position: relative;
	display: block;
	height: 15px;
	width: 100%;
	color: #465961;
	margin: 5px 0 5px;
	padding: 5px 0 0 39px;
	font-family:'Lucida Sans Unicode', Arial,sans-serif;
	font-size: 13px;
	color: #465961;
}
.checkbox-menu-item input {
	display: inline-block;
	position: absolute;
	top: 7px;
	left: 15px;
}

.sidebar-list2 {
	padding-top: 36px;
}
.button {
	padding-left: 13px; 
	padding-top: 15px;
}

input[type="submit"] {
	width: 80px;
	height: 26px;
	text-align: center;
	border-radius: 11px;
	font-family: Arial,sans-serif;
	font-size: 11px;
	color: #fff;
	background: linear-gradient(to bottom, #1f6585, #0d3458);
}
.befor-footer {
	margin:0 auto;
	width: 1000px;
	height: 90px;
}
.img-befor-footer {
	float: left;
	margin-top: 43px;
	margin-left: 162px;
}
.img-befor-footer2 {
	float: left;
	margin-top: 42px;
	margin-left: 16px;
}
.img-befor-footer1 {
	float: left;
	margin-top: 43px;
	margin-left: 12px;
}
.img-befor-footer_factory {
	float: left;
	margin-top: 40px;
	margin-left: 13px;
}
/* FOOTER */

footer {
	width: 909px;
	height: 100px;
	margin: 5px auto 0 auto; 
	border: 1px solid #242c3e;
	background: #213a4d;
}

.menu-footer {
	height: 31px;	
	padding-left: 307px;
	padding-top: 6px;
}
.menu-footer li{
	display:inline-block;
	padding-right: 12px;
}
.menu-footer li a{
	font-family: Arial,sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #bec6c9;

}
.menu-footer li a:hover {
	color: #52abcb;
}
.menu-footer li .contacts {
	padding-left: 5px;
}
.menu-footer>li>img{
	display:inline-block;
	margin-top: 4px;
}
.copyright {
	float: none;
	text-align: center;
	margin: 0 auto;
	font-family: Arial,sans-serif;
	font-size: 10px;
	color: #7f4740;
}